@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esse é um pequeno projeto CRUD MVC</p>
    <p>Esse projeto pode adicionar, deletar e atualizar os usuários cadastrados no banco</p>
</div>
